* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf')
}

body {
    font-family: "Roboto";
}

main {
    width: 70%;
    margin: auto;

    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

h1 {
    width: 100%;
    text-align: center;
}

.photo {
    width: 400px;
    height: 200px;

    background-size: cover;
    background-position: 50%;
}

.photo1 {
    background-image: url('../images/1.webp');
}

.photo2 {
    background-image: url('../images/2.jpg')
}

.photo3 {
    background-image: url('../images/3.webp')
}

.photo4 {
    background-image: url('../images/4.jpg')
}

.photo5 {
    background-image: url('../images/5.webp')
}

.photo6 {
    background-image: url('../images/6.webp')
}

.photo7 {
    background-image: url('../images/7.jpg')
}

.photo8 {
    background-image: url('../images/8.jpg')
}

.photo9 {
    background-image: url('../images/9.jpg')
}

.photo10 {
    background-image: url('../images/10.jpg')
}