* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test1 {
    width: 100px;
    height: 100px;

    margin: 200px;

    border: 4px solid red;

    background-color: yellow;
}

.test2 {
    width: 400px;

    padding: 20px;

    border: 4px solid red;
}